<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>passes</key>
	<dict>
		<key>pass_red_blur_v</key>
		<dict>
			<key>colorStates</key>
			<dict>
				<key>clear</key>
				<false/>
			</dict>
			<key>inputs</key>
			<dict>
				<key>symbolAsCalledInMetal</key>
				<string>customVariableSymbol</string>
				<key>maskSampler</key>
				<string>MASK</string>
			</dict>
			<key>outputs</key>
			<dict>
				<key>color</key>
				<string>MASK</string>
			</dict>
			<key>metalFragmentShader</key>
			<string>red_blur_fragment_v</string>
			<key>program</key>
			<string>doesntexist</string>
			<key>draw</key>
			<string>DRAW_QUAD</string>
			<key>metalVertexShader</key>
			<string>red_blur_vertex</string>
		</dict>
		<key>pass_red_combine</key>
		<dict>
			<key>colorStates</key>
			<dict>
				<key>clear</key>
				<false/>
			</dict>
			<key>inputs</key>
			<dict>
				<key>symbolAsCalledInMetal</key>
				<string>customVariableSymbol</string>
				<key>colorSampler</key>
				<string>COLOR</string>
				<key>maskSampler</key>
				<string>MASK</string>
			</dict>
			<key>outputs</key>
			<dict>
				<key>color</key>
				<string>COLOR</string>
			</dict>
			<key>metalFragmentShader</key>
			<string>red_combine_fragment</string>
			<key>program</key>
			<string>doesntexist</string>
			<key>draw</key>
			<string>DRAW_QUAD</string>
			<key>metalVertexShader</key>
			<string>red_combine_vertex</string>
		</dict>
		<key>pass_blur_h</key>
		<dict>
			<key>colorStates</key>
			<dict>
				<key>clear</key>
				<false/>
			</dict>
			<key>inputs</key>
			<dict>
				<key>symbolAsCalledInMetal</key>
				<string>customVariableSymbol</string>
				<key>maskSampler</key>
				<string>MASK</string>
			</dict>
			<key>outputs</key>
			<dict>
				<key>color</key>
				<string>MASK</string>
			</dict>
			<key>metalFragmentShader</key>
			<string>blue_blur_fragment_h</string>
			<key>program</key>
			<string>doesntexist</string>
			<key>draw</key>
			<string>DRAW_QUAD</string>
			<key>metalVertexShader</key>
			<string>blue_blur_vertex</string>
		</dict>
		<key>pass_red_blur_h</key>
		<dict>
			<key>colorStates</key>
			<dict>
				<key>clear</key>
				<false/>
			</dict>
			<key>inputs</key>
			<dict>
				<key>symbolAsCalledInMetal</key>
				<string>customVariableSymbol</string>
				<key>maskSampler</key>
				<string>MASK</string>
			</dict>
			<key>outputs</key>
			<dict>
				<key>color</key>
				<string>MASK</string>
			</dict>
			<key>metalFragmentShader</key>
			<string>red_blur_fragment_h</string>
			<key>program</key>
			<string>doesntexist</string>
			<key>draw</key>
			<string>DRAW_QUAD</string>
			<key>metalVertexShader</key>
			<string>red_blur_vertex</string>
		</dict>
		<key>pass_halo_mask</key>
		<dict>
			<key>inputs</key>
			<dict>
				<key>symbolAsCalledInMetal</key>
				<string>customVariableSymbol</string>
				<key>colorSampler</key>
				<string>COLOR</string>
			</dict>
			<key>outputs</key>
			<dict>
				<key>color</key>
				<string>MASK</string>
			</dict>
			<key>metalFragmentShader</key>
			<string>red_mask_fragment</string>
			<key>program</key>
			<string>doesntexist</string>
			<key>excludeCategoryMask</key>
			<integer>4</integer>
			<key>draw</key>
			<string>DRAW_SCENE</string>
			<key>metalVertexShader</key>
			<string>red_mask_vertex</string>
		</dict>
		<key>pass_draw_masks</key>
		<dict>
			<key>inputs</key>
			<dict>
				<key>symbolAsCalledInMetal</key>
				<string>customVariableSymbol</string>
				<key>colorSampler</key>
				<string>COLOR</string>
			</dict>
			<key>outputs</key>
			<dict>
				<key>color</key>
				<string>MASK</string>
			</dict>
			<key>metalFragmentShader</key>
			<string>blue_mask_vertex</string>
			<key>program</key>
			<string>doesntexist</string>
			<key>draw</key>
			<string>DRAW_SCENE</string>
			<key>metalVertexShader</key>
			<string>blue_mask_fragment</string>
			<key>includeCategoryMask</key>
			<integer>4</integer>
		</dict>
		<key>pass_blur_v</key>
		<dict>
			<key>colorStates</key>
			<dict>
				<key>clear</key>
				<false/>
			</dict>
			<key>inputs</key>
			<dict>
				<key>symbolAsCalledInMetal</key>
				<string>customVariableSymbol</string>
				<key>maskSampler</key>
				<string>MASK</string>
			</dict>
			<key>outputs</key>
			<dict>
				<key>color</key>
				<string>MASK</string>
			</dict>
			<key>metalFragmentShader</key>
			<string>blue_blur_fragment_v</string>
			<key>program</key>
			<string>doesntexist</string>
			<key>draw</key>
			<string>DRAW_QUAD</string>
			<key>metalVertexShader</key>
			<string>blue_blur_vertex</string>
		</dict>
		<key>pass_combine</key>
		<dict>
			<key>colorStates</key>
			<dict>
				<key>clear</key>
				<false/>
			</dict>
			<key>inputs</key>
			<dict>
				<key>symbolAsCalledInMetal</key>
				<string>customVariableSymbol</string>
				<key>colorSampler</key>
				<string>COLOR</string>
				<key>maskSampler</key>
				<string>MASK</string>
			</dict>
			<key>outputs</key>
			<dict>
				<key>color</key>
				<string>COLOR</string>
			</dict>
			<key>metalFragmentShader</key>
			<string>blue_combine_fragment</string>
			<key>program</key>
			<string>doesntexist</string>
			<key>draw</key>
			<string>DRAW_QUAD</string>
			<key>metalVertexShader</key>
			<string>blue_combine_vertex</string>
		</dict>
	</dict>
	<key>sequence</key>
	<array>
		<string>pass_draw_masks</string>
		<string>pass_blur_h</string>
		<string>pass_blur_v</string>
		<string>pass_blur_h</string>
		<string>pass_blur_v</string>
		<string>pass_combine</string>
		<string>pass_halo_mask</string>
		<string>pass_red_blur_h</string>
		<string>pass_red_blur_v</string>
		<string>pass_red_blur_h</string>
		<string>pass_red_blur_v</string>
		<string>pass_red_combine</string>
	</array>
	<key>symbols</key>
	<dict>
		<key>customVariableSymbol</key>
		<dict>
			<key>type</key>
			<string>float</string>
		</dict>
	</dict>
	<key>targets</key>
	<dict>
		<key>MASK</key>
		<dict>
			<key>format</key>
			<string>rgb</string>
			<key>size</key>
			<string>512x512</string>
			<key>scaleFactor</key>
			<integer>1</integer>
			<key>type</key>
			<string>color</string>
		</dict>
	</dict>
</dict>
</plist>
